<div class="container">
<div class="items">
  <div class="items-head">
  <p style="text-align : center ;">CREATE NEW TASK <p>
  </div>
  <div class="items-body">
  <form action="/task/create" method='post' value='task'>

    <label for="fname">Title:</label><br>
    <input type="text" id="title" name="title" placeholder="Title"><br>

    <label for="lname">Description:</label><br>
    <input type="text" id="description" name="description" placeholder="Description"><br>

    <label for="lname">Priority:</label><br>
    <input type="number" id="priority" name="priority" value="1" min="1" max="4"><br>

    <label for="lname">DeadLine:</label><br>
    <input type="date" id="deadline" name="deadline"><br>

    <label for="lname">Project:</label><br>
    <select name="project_id">
      <option value="none" selected>None</option>
      <% @projects.each do |project| %> 
        <option value=<%= project.id %>><%= project.title%></option>
      <% end %>
    </select><br>

    <% if current_user.role =="admin" %>
      <label for="lname">User:</label><br>
      <select name="user_id">
        <% @users.each do |user| %> 
          <option value=<%= user.id %>><%= user.email%></option>
        <% end %>
      </select>
    <% end %>
    <br><br>
    <input class="btn" type="submit" value="Create">
  </form> 
  </div>
</div>
</div>