<div class="title">
<h1>CREATE NEW PROJECT </h1>
</div>

<div class="form">
<form action="/project/create" method='post' value='project'>

  <label for="fname">Title:</label><br>
  <input type="text" id="title" name="title" placeholder="Title"><br>

  <label for="lname">Description:</label><br>
  <input type="text" id="description" name="description" placeholder="Description"><br><br>

  <input class="btn" type="submit" value="Create">
  
</form> 
</div>