<div>
<h1>CREAR PROJECTO NUEVO </h1>
</div>

<form action="/project/create" method='post' value='project'>

  <label for="fname">Title:</label><br>
  <input type="text" id="title" name="title" value="Title"><br>
  <label for="lname">Description:</label><br>
  <input type="text" id="description" name="description" value="Description"><br><br>
  <input type="submit" value="Submit">
</form> 