<div>
<form action="/project/create" method="get">
    <input type="submit" value="Create Project" 
         name="Submit" id="frm1_submit" />
</form>
</div>

<div>
    <ul>
    <% @projects.each do |project| %> 
        <li>
            <div>
            <%= link_to project.title, "/project/#{project.id}", method: :get %>
            <%= button_to 'delete', "/project/delete/#{project.id}", method: :delete %>
            <%= button_to 'update', "/project/update/#{project.id}", method: :get %>
            </div>
        </li>
    <% end %>
    </ul>
</div>