<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" type="text/css">

        <!--========== CSS ==========-->
        <!--<link rel="stylesheet" href="/app/assets/stylesheets/styles.css" >-->

        <%= stylesheet_link_tag 'styles.css' %>

        <title>Todoapp</title>
    </head>
    <body>
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                <!--<img src="img/perfil.jpg" alt="" class="header__img">-->

                <% if logged_in? %>
                    <% if current_user.role =="normal" %>
                        <a href="/task" class="header__logo">TodoApp</a>
                    <% end %>
                    <% if current_user.role =="admin" %>
                        <a href="/task/all" class="header__logo">TodoApp</a>
                    <% end %>

                    <form action="/task/search/" method='get' value='project'>
                    <div class="header__search">
                        <input type="search" placeholder="Search" name="search" class="header__input">
                        <button class='bx bx-search header__icon'></button>       
                    </div>
                    </form>
                    
                <% else %>
                    <a href="/login" class="header__logo">TodoApp</a>
                <% end %>

                <% if !logged_in? %>
                    <div class="containter">
                    <a href="/login">
                    <span>Login</span>
                    </a>
                    &nbsp;
                    &nbsp;
                    <a href="/signup">
                    <span>SignUp</span>
                    </a>
                    </div>
                <% else %>
                    <div>
                        <%= current_user.username %>              
                    </div>
                <% end %>

                <% if logged_in? %>
                <div class="header__toggle">
                    <div class="dropdown-navbar" id="header-toggle">
                        <span class='bx bx-menu'></span>
                        <div class="dropdown-content-navbar">

                            <a href="/notifications" class="nav__link active">
                                <i class='bx bx-notification nav__icon' ></i>
                                <span class="nav__name">Notifications </span>
                            </a>

                            <% if current_user.role =="normal" %>
                                <a href="/task" class="nav__link active">
                                    <i class='bx bx-home nav__icon' ></i>
                                    <span class="nav__name">Inbox </span>
                                </a>

                                <a href="/task/list_today" class="nav__link">
                                    <i class='bx bx-calendar nav__icon' ></i>
                                    <span class="nav__name">Today's tasks</span>
                                </a>

                                <a href="/project" class="nav__link">
                                    <i class='bx bx-folder nav__icon' ></i>
                                    <span class="nav__name">Projects</span>
                                </a>

                                <a href="/project/shared" class="nav__link">
                                    <i class='bx bx-cloud nav__icon' ></i>
                                    <span class="nav__name">Shared Projects</span>
                                </a>

                                <a href="/task/list_all" class="nav__link">
                                    <i class='bx bx-task nav__icon' ></i>
                                    <span class="nav__name">All tasks</span>
                                </a>

                            <% end %>
                            
                            <% if current_user.role =="admin" %>
                                <a href="/task/all" class="nav__link">
                                    <i class='bx bx-task nav__icon' ></i>
                                    <span class="nav__name">Tasks</span>
                                </a>

                                <a href="/project/all" class="nav__link">
                                    <i class='bx bx-folder nav__icon' ></i>
                                    <span class="nav__name">Projects</span>
                                </a>

                                <a href="/user" class="nav__link">
                                    <i class='bx bx-user nav__icon' ></i>
                                    <span class="nav__name">Users</span>
                                </a>
                            <% end %> 
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </header>

        <!--========== NAV ==========-->
        <% if logged_in? %>
        <div class="nav" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="/task" class="nav__link nav__logo">
                        <i class='bx bxs-disc nav__icon' ></i>
                        <span class="nav__logo-name">TodoApp</span>
                    </a>
    
                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Menu</h3>
    
                            <a href="/notifications" class="nav__link active">
                                <i class='bx bx-notification nav__icon' ></i>
                                <span class="nav__name">Notifications </span>
                            </a>

                            <% if current_user.role =="normal" %>
                                <a href="/task" class="nav__link active">
                                    <i class='bx bx-home nav__icon' ></i>
                                    <span class="nav__name">Inbox </span>
                                </a>

                                <a href="/task/list_today" class="nav__link">
                                    <i class='bx bx-calendar nav__icon' ></i>
                                    <span class="nav__name">Today's tasks</span>
                                </a>

                                <a href="/project" class="nav__link">
                                    <i class='bx bx-folder nav__icon' ></i>
                                    <span class="nav__name">Projects</span>
                                </a>

                                <a href="/project/shared" class="nav__link">
                                    <i class='bx bx-cloud nav__icon' ></i>
                                    <span class="nav__name">Shared Projects</span>
                                </a>

                                <a href="/task/list_all" class="nav__link">
                                    <i class='bx bx-task nav__icon' ></i>
                                    <span class="nav__name">All tasks</span>
                                </a>
                            <% end %>

                            <% if current_user.role =="admin" %>
                                <a href="/task/all" class="nav__link">
                                    <i class='bx bx-task nav__icon' ></i>
                                    <span class="nav__name">Tasks</span>
                                </a>

                                <a href="/project/all" class="nav__link">
                                    <i class='bx bx-folder nav__icon' ></i>
                                    <span class="nav__name">Projects</span>
                                </a>

                                <a href="/user" class="nav__link">
                                    <i class='bx bx-user nav__icon' ></i>
                                    <span class="nav__name">Users</span>
                                </a>
                            <% end %> 
                        </div>
                    </div> 
                </div>
                <% if logged_in? %>
                <a href="/logout" class="nav__link nav__logout">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
                <% end %>
            </nav>
        </div>
        <% end %>

        <!--========== CONTENTS ==========-->
        <main>
            <%= yield %>
        </main>

        <!--========== MAIN JS ==========-->
        <script src="js/main.js" type="text/js"></script>
    </body>
</html>
