<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" type="text/css">

        <!--========== CSS ==========-->
        <!--<link rel="stylesheet" href="/app/assets/stylesheets/styles.css" >-->

        <%= stylesheet_link_tag 'styles.css' %>

        <title>Todoapp</title>
    </head>
    <body>
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                <!--<img src="img/perfil.jpg" alt="" class="header__img">-->

                <a href="/" class="header__logo">TodoApp</a>

                <form action="/task/search/" method='get' value='project'>
                <div class="header__search">
                    <input type="search" placeholder="Search" name="search" class="header__input">
                    <button class='bx bx-search header__icon'></button>       
                </div>
                </form>
    
                <div class="header__toggle">
                    <div class="dropdown-navbar" id="header-toggle">
                        <span class='bx bx-menu'></span>
                        <div class="dropdown-content-navbar">
                            <a href="/task" class="nav__link active">
                                <i class='bx bx-home nav__icon' ></i>
                                <span class="nav__name">Inbox </span>
                            </a>

                            <a href="/task/list_today" class="nav__link">
                                <i class='bx bx-calendar nav__icon' ></i>
                                <span class="nav__name">Today's tasks</span>
                            </a>

                            <a href="/project" class="nav__link">
                                <i class='bx bx-folder nav__icon' ></i>
                                <span class="nav__name">Projects</span>
                            </a>

                            <a href="/task/list_all" class="nav__link">
                                <i class='bx bx-task nav__icon' ></i>
                                <span class="nav__name">All tasks</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!--========== NAV ==========-->
        <div class="nav" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="/task" class="nav__link nav__logo">
                        <i class='bx bxs-disc nav__icon' ></i>
                        <span class="nav__logo-name">TodoApp</span>
                    </a>
    
                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Menu</h3>
    
                            <a href="/task" class="nav__link active">
                                <i class='bx bx-home nav__icon' ></i>
                                <span class="nav__name">Inbox </span>
                            </a>

                            <a href="/task/list_today" class="nav__link">
                                <i class='bx bx-calendar nav__icon' ></i>
                                <span class="nav__name">Today's tasks</span>
                            </a>

                            <a href="/project" class="nav__link">
                                <i class='bx bx-folder nav__icon' ></i>
                                <span class="nav__name">Projects</span>
                            </a>

                            <a href="/task/list_all" class="nav__link">
                                <i class='bx bx-task nav__icon' ></i>
                                <span class="nav__name">All tasks</span>
                            </a>
                        </div>-->
                    </div> 
                </div>

                <!--<a href="#" class="nav__link nav__logout">
                    <i class='bx bx-log-out nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>-->
            </nav>
        </div>
        <h2> hello </h2>
        <!--========== CONTENTS ==========-->
        <main>
            <%= yield %>

        </main>

        <!--========== MAIN JS ==========-->
        <script src="js/main.js" type="text/js"></script>
    </body>
</html>
